@mixin cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin pu-man {
  width: 100%;
  height: 100%;
  position: relative;
}

@mixin box {
  @include cover();
  @include pu-man();
}

[class*="page"] {
  @include box();
}
[class*="nav"] {
  width: 460px;
  height: 95px;
  right: 50px;
  position: absolute;
  z-index: 3;
  top: 90px;
  @include contain();
}
.music{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
  @include contain();
  z-index: 30;
  background-image: url('../../static/img/music.png');
  &.music-open{
    animation: player 3s infinite linear;
  }
  #audio{
    display: none;
    opacity: 0;
  }
}
@keyframes player {
  0% {
      -webkit-transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(1turn)
  }
}

.page-cover {
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.swiper-button-next {
  display: none;
  position: absolute;
  z-index: 20;
  bottom: 93px;
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: unset;
  background-image: url("../../static/img/right-next.gif");
  left: 600px;
  &.center {
    background-image: url("../../static/img/center-next.png");
    left: 314px;
  }
}

.pa-text {
  width: 427px;
  height: 320px;
  left: 50px;
  position: absolute;
  z-index: 3;
  bottom: 90px;
  transform: translateX(100vw);
  transition: all 1s;
  @include contain();
}
.fei{
  transform: translateX(0px)
  // animation:fei 1s 1;
  // animation-name:fei;
  // animation-duration:1s;
  // animation-iteration-count:1;
}


.run-anima{
  position: absolute;
  left: 50vw;
  top: 50vh;
  width: 60px;
  height: 60px;
  display: none;
  @include contain();
  z-index: 8;
  background-image: url("../../static/img/click.gif");
}

.loading-page {
  position: absolute;
  z-index: 10;
  background-color: #000;
  background-image: url("../../static/img/load-bg.jpg");
  .jindu {
    height: 20px;
    width: 100%;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    top: 740px;
    color: #c0c0c0;
    text-align: center;
  }
}
// [w-551-112]{
//   aspect-ratio: '551:112';
// }
.page1 {
  .p1-text {
    @include contain();
    background-image: url("../../static/img/p1-nav.png");
    opacity: 0;
    position: absolute;
    bottom: 200px;
    height: 138px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.page2{
  .run-anima{
    top: 60vh;
  }
}
.page3{
  .run-anima{
    position: absolute;
    left: 50vw;
    top: 60vh;
    width: 100px;
    height: 100px;
    z-index: 1;
    display: block !important;
    @include contain();
    background-image: url("../../static/img/left.gif");
  }
  .pa-text {
    bottom:unset;
    top: 224px;
  }
}

.page4 {
  .run-anima{
    left: 162px;
    display: none !important;
  }
  .btn {
    position: absolute;
    z-index: 4;
    width: 100px;
    height: 100px;
    left: 162px;
    top: calc(50%-60px);
    @include contain();
    background-image: url("../../static/img/p4-btn.png");
    &.dot {
      animation: dot 1.5s alternate infinite;
    }
    .sub-btn {
      @include contain();
      width: 60%;
      height: 60%;
      position: absolute;
      top: 20%;
      left: 20%;
      &.gif {
        background-image: url("../../static/img/p4-subBtn.gif");
      }
    }
  }
  .show {
    position: absolute;
    z-index: 7;
    width: 212px;
    height: 256px;
    top: 50%;
    transform: translateY(-100px);
    right: 130px;
    @include contain();
    opacity: 0;
    background-image: url("../../static/img/p4-show.png");
  }
  .page4-bg2 {
    position: absolute;
    z-index: 2;
    opacity: 0;
    background-image: url("../../static/img/p4-bg2.png");
  }
}
.page6 {
  .run-anima{

  }
  .pa-text {
    left: unset;
    right: 50px;
  }
  .gif{
    position: absolute;
    top: 37vh;
    opacity: 0;
    right: 200px;
    width: 156px;
    height: 132px;
    @include contain();
    background-image: url("../../static/img/p6-gif.png");
  }
}
.page8{
  .run-anima{
    top: 75vh;
    left: 80vw;
  }
  .box{
    position: absolute;
    bottom: 390px;
    right: 50px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .dianchi{
      flex: 1;
      height: 100%;
      @include contain();
      background-position: right;
      background-image: url("../../static/img/p8-dc.gif");
    }
    .number{
      width: 156px;
      height: 100%;
      text-align: center;
      line-height: 50px;
      color: #c2d9cd;
      font-size: 32px;
      font-weight: bold;
      // @include contain();
      // background-position: left;
      // background-image: url("../../static/img/p8-number.png");
    }
  }
}
.page9{
  .run-anima{
    left: 20vw;
    top: 25vh;
  }
  .box{
    position: absolute;
    top: 340px;
    width: 40vw;
    left: 10vw;
    color: #6a6a6a;
    font-size: 34px;
    text-align: center;
    height: 66px;
    text-align: 66px;
    border-bottom: 1px solid #7e7e7e;
  }
}

.page10 {
  .box {
    width: 640px;
    height: 120px;
    position: relative;
    top: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .line {
      @include contain();
      width: 0;
      flex: 1;
      background-position: bottom;
      background-image: url("../../static/img/p10-line.png");
    }
    .number {
      @include contain();
      height: 40px;
      width: 100%;
      background-position: top;
      background-image: url("../../static/img/p10-number.png");
    }
  }
}
.page11{
  .run-anima{
    top:40vh;
  }
}
.page12{
  .run-anima{
    left: 10vw;
    top: 20vh;
  }
  .page-car{
    z-index: 3;
    right: -100%;
    background-image: url("../../static/img/p12-car.png");
  }
  .hand{

  }
  .phone{
    position: absolute;
    z-index: 4;
    top: 174px;
    left: 0;
    width: 350px;
    height: 577px;
    left: -100%;
    @include contain();
    background-image: url("../../static/img/p12-phone.png");
  }
}
.page13 {
  .pa-text {
    bottom: unset;
    top: 224px;
  }
  .gif{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 20vw;
    left: 20vw;
    transform: rotate(60deg);
    @include contain();
    background-image: url("../../static/img/p13-gif.gif");
  }
}
.page13{
  .run-anima{
    top: 75vh;
  }
}

.page14 {
  .pa-text {
    bottom: unset;
    top: 288px;
  }
  .page-car{
    z-index: 5;
    background-image: url("../../static/img/p14-bg.png");
  }
  .page-ul{
    z-index: 3;
    display: flex;
    position: absolute;
    .li{
      flex: 1;
      opacity: 0.6;
      &.dot{
        animation:re-dot .6s alternate infinite;
      }
      &:nth-child(1){
        background: #769ebb;
      }
      &:nth-child(2){
        background: #2573b3;
      }
      &:nth-child(3){
        background: #a34725;
      }
      &:nth-child(4){
        background: #585549;
      }
      &:nth-child(5){
        background: #363841;
      }
      &:nth-child(6){
        background: #c8c9cc;
      }
      &:nth-child(7){
        background: #6a212a;
      }
    }
  }
}

.page16 {
  .run-anima{
    top: 70vh;
    left: 65vw;
  }
  .pa-text {
    bottom: unset;
    top: 288px;
  }
  // .page16-line{
  //   position: absolute;
  //   z-index: 3;
  //   animation:dot .6s alternate infinite;
  //   // background-image: url("../../static/img/p16-line1.png");
  // }
}
@keyframes re-dot {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.page17{
  display: flex;
  justify-content: center;

  .goback{
    position: absolute;
    width: 180px;
    height: 52px;
    top: 80px;
    right: 50px;
    @include contain();
    background-image: url("../../static/img/p17-btn.png");
  }
  .box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 530px;
    height: max-content;
    margin: 180px auto 0;
    border: 8px solid rgba($color: #3cadff, $alpha: .6);
    background: rgba($color: #111422, $alpha: .8);
    .form{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .ok{
      width: 430px;
      height: 430px;
      position: absolute;
      z-index: 2;
      @include contain();
    background-image: url("../../static/img/ok.png");
    }

    .title{
      width: 100%;
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      line-height: 140px;
      height: 140px;
      text-align: center;
    }
    .input{
      border: none;
      outline: none;
      background: transparent;
      width: 395px;
      height: 68px;
      margin:0 auto 39px;
      border-bottom: 1px solid #545454;
      color: #3cadff;
      &::placeholder{
        color: #545454;
      }
    }
    .select{
      color: #3cadff;
    }
    .btn{
      height: 55px;
      width: 223px;
      margin: 40px auto;
      text-align: center;
      background: #3cadff;
      color: #fff;
      line-height: 7.432vw;
      padding: 0;
    }
  }
}



.app-msg{
  width: auto;
  height: auto;
  padding: 40px ;
  z-index: 100;
  color: #fff;
  line-height: 32px;
  background: rgba($color: #000000, $alpha: 0.6);
  position: absolute;
  top: 40%;
  left: 50%;
  display: none;
  transform: translate(-50%);
}